@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
